@charset "UTF-8";
body {
  margin: 0;
  padding-top: 80px;
  font-family: Roboto, sans-serif;
  color: #757575;
  max-width: 100%;
  overflow-x: hidden;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------- telephon ---------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* our team sociallist */
.member__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.member__item {
  width: 44px;
  height: 44px;
}

.member__link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member__link:focus, .member__link:hover {
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  background-color: #2196F3;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo .bg-logo {
  color: #000000;
}
.logo .bg-logo {
  color: #000000;
}
.logo .bg-logo-footer {
  color: #FFFFFF;
}

/*------------ header --------------*/
.header {
  top: 0;
  left: 0;
  min-height: 80px;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.head {
  position: relative;
  display: flex;
  align-items: center;
}

.head__main {
  display: flex;
  margin-bottom: 0;
  justify-content: spa;
}

.head__menu {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-left: 93px;
}

.head__menu .head__item:not(:last-child) {
  margin-right: 50px;
}

.head__menu .menu {
  padding: 32px 0;
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head__menu .menu:focus, .head__menu .menu:hover {
  color: #2196F3;
}

/* social link */
.head__contacts {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
}

.head__contacts .head__item + .head__item {
  margin-left: 50px;
}

.head__link {
  display: flex;
  align-items: center;
  font-style: normal;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head__link:focus, .head__link:hover {
  color: #2196F3;
}
.head__link:focus .head__icon, .head__link:hover .head__icon {
  fill: #2196F3;
}

/* icon */
.head__icon {
  background-repeat: no-repeat;
  background-position: center;
  fill: #757575;
  list-style: none;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* underline menu*/
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  opacity: 1;
}

/*----------- hero -----------------*/
.background {
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header/hero.jpg");
}

.background {
  background-color: #2F303A;
}

.block__hiro {
  padding: 200px 0;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.button__hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero:focus, .button__hero:hover {
  color: #FFFFFF;
  background: #2196F3;
}

/*-------------- model window -------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0, 9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 528px;
  min-width: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

.form__call-me {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/* ---modal-close---- */
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: #2196F3;
}

.close {
  width: 11px;
  height: 11px;
  align-items: center;
  cursor: pointer;
}

/* -----------------form--------------------------- */
textarea {
  resize: none;
}

/* form */
.form__field {
  display: block;
  margin-bottom: 10px;
}

.form__label {
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__contain {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__contain:focus-within > .form__icon {
  fill: #2196F3;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  width: 100%;
  margin: 0px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.label__comment {
  display: flex;
  padding-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.textarea__comment {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.form__comment textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__input {
  appearance: none;
}

.checkbox__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__svg {
  display: inline-block;
  width: 15px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__svg {
  background-color: #2196F3;
  background-image: url("../img/done.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox__link {
  text-decoration: none;
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.button__modal-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*-------- section benefits - переваги ---------*/
.benefits {
  display: flex;
  margin-bottom: 0;
  list-style: none;
}

.benefits__item {
  margin-right: 30px;
  width: 270px;
}
.benefits__item:last-child {
  margin-right: 0px;
}

/* svg benefits */
.benefits__item::before {
  display: block;
  content: "";
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../img/after_header/antenna\ .svg);
}

.clock::before {
  background-image: url(../img/after_header/clock\ .svg);
}

.diagram::before {
  background-image: url(../img/after_header/diagram.svg);
}

.astronaut::before {
  background-image: url(../img/after_header/astronaut\ .svg);
}

.benefits__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

/*-------- section benefits  переваги ---------*/
/*-------- telephon ---------*/
/*------- about us ------------*/
.services {
  padding-bottom: 94px;
  display: flex;
  margin: 0;
  z-index: -1;
}
.services:last-child {
  margin-right: 0;
  line-height: 0;
}

.services__img {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.services__img:last-child {
  margin-right: 0;
}

.services__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0px;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

/* ------section our team----------- */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

/* section comand */
.command {
  background-color: #F5F4FA;
}

.member-team {
  display: flex;
  margin-bottom: 0;
  line-height: 0;
}

.member {
  background: #FFFFFF;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member:last-child {
  margin-right: 0;
}

.member__info {
  padding: 30px 32px;
}

.member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.member__text {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  letter-spacing: 0.03em;
  text-align: center;
}

/* our team sociallist */
.member__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.member__item {
  width: 44px;
  height: 44px;
}

.member__link {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member__icon {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.member__link:focus,
.member__link:hover {
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  background-color: #2196F3;
}

/*------------ section clients ------------*/
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.brand__list {
  display: flex;
  margin-bottom: 0px;
}

.brand {
  margin-right: 30px;
}
.brand:last-child {
  margin-right: 0px;
}

.brand__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.brand__img {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brand__link:hover .brand__img,
.brand__link:focus .brand__img {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.brand__img:hover,
.brand__img:focus {
  fill: #2196F3;
}

/*------------ section clients ------------*/
/*---------- section portfolio -----------------*/
.second-button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.second-button .item + .item {
  margin-left: 8px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* container portfolio */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  width: 370px;
  line-height: 0;
  overflow: hidden;
  margin: 15px;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item .portfolio__item:hover,
.portfolio__item .portfolio__item:focus-within {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  width: 100%;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}
.portfolio__link:hover .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay p {
  margin-bottom: 0;
}

.portfolio__overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__info {
  background: #FFFFFF;
  position: relative;
  padding: 20px 24px;
  cursor: pointer;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

/* footer */
.footer {
  background-color: #2F303A;
}

.footer__contain {
  display: flex;
  padding: 60px 0;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  margin-right: 37px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:focus, .footer__link:hover {
  color: #2196F3;
}

.footer__address {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  display: inline-block;
  margin-bottom: 9px;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: #2196F3;
}

/* container приєднуйтесь */
.footer__social {
  padding: 0;
  margin: 0;
}

.footer__add-up {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* social  */
.social-block {
  display: inline-flex;
}

.social-block__item {
  margin-right: 10px;
}

.social-block__item:last-child {
  margin-right: 0;
}

.social-block__link {
  margin-right: 10px;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-block__link:last-child {
  margin-right: 0;
}
.social-block__link:focus, .social-block__link:hover {
  background: #2196F3;
}

.social-block__icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

/* container підпишіться на розсилку */
.subscrition-footer {
  margin: 0;
}

.subscrition {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.telegram {
  display: inline-block;
  justify-content: flex-end;
  margin-left: auto;
}

.telegram__form {
  display: flex;
  position: relative;
}

.telegram__input {
  display: inline-block;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 12.5;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.telegram__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.telegram__form input {
  padding: 13px 28px;
}

/* telegram-button */
.telegram__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.telegram__button-footer {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 10px;
  color: #FFFFFF;
}

.telegram__form button {
  padding: 10px 28px;
}

.telegram__icon {
  position: absolute;
  cursor: pointer;
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  right: 28px;
  top: 25%;
}

.footer__add-up {
  text-align: center;
}/*# sourceMappingURL=main.css.map */