
.logo {
    color: $secretion-color;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-flex;
    align-items: center;
 

    .bg-logo {
        color: $logo-color;
    }

    .bg-logo-footer {
        color: $hero-color;
    }
}

.contain-block__logo {
    margin-bottom: 20px;
}